# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.so
*.egg-info/
dist/
build/

# Jupyter
.ipynb_checkpoints/
.notebooks/

# Virtual env
.env/
.venv/
venv/
ENV/

# Data
data/raw/*
data/processed/*
!data/.gitkeep

# Models
models/*
!models/.gitkeep

# Logs
*.log

!.gitkeep

